[production]
resources.db.adapter = "mysqli"
resources.db.params.host = <HOST>
resources.db.params.username = <USERNAME>
resources.db.params.password = <PASSWORD>
resources.db.params.dbname = <DBNAME>
minQuantity = 150 ; minimum quantity for invoice to be generated
minMkzQuantity = 50 ; minimum quantity for invoice to be generated, for McKenzie Books
superAdmins = "1,2,3" ; comma seperated list of super admin ids
updateNotifications["Name 1"] = "email1@example.com" ; emails to notify on changes
updateNotifications["Name 2"] = "email2@example.com" ; emails to notify on changes
shippingInstructions = "shipping-instructions-v2013-09-20.pdf" ; name of shipping instructions file under /public/
shippingInstructionsForNewSellers = "shipping-instructions-for-new-sellers.pdf" ; name of new seller shipping instructions under /public/
sellerUploadRowLimit = 100000
sellerUploadsPath = APPLICATION_PATH "/../data/uploads/sell-lists/" ; where seller's raw sell lists will be stored for later analysis
buyerUploadsPath = APPLICATION_PATH "/../data/uploads/buy-lists/" ; where buyer's raw buy lists will be stored for later QA
resources.log.1.writerName = "Stream"
resources.log.1.writerParams.stream = "/var/log/sellbooksdirect.log"
resources.log.1.writerParams.mode = "a"
resources.log.1.formatterName = "Simple"
resources.log.1.formatterParams.format = "%timestamp% %priorityName% (%priority%): %message% %info% PHP_EOL"
resources.log.1.filterName = "Priority"
resources.log.1.filterParams.priority = Zend_Log::INFO
resources.log.2.writerName = "Mail"
resources.log.2.writerParams.subject = "Sell Books Direct error"
resources.log.2.writerParams.to[] = "jim@mkzservices.com"
resources.log.2.formatterName = "Simple"
resources.log.2.formatterParams.format = "%timestamp% %priorityName% (%priority%): %message% %info%"
resources.log.2.filterName = "Priority"
resources.log.2.filterParams.priority = Zend_Log::CRIT
